/* Imported Google font */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* setting the height and width of image */
.navbar-brand img {
  height: 60px;
  width: 60px;
}

.navbar {
  background-color: #b8860b;
  /* color: #ffffff; */
}

.story-heading {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  text-align: center;
}

.para-images img {
  height: 250px;
  width: 250px;
}

.footer-sec {
  background-color: #b8860b;
  width: 100%;
  height: 150px;
}

.footer-sec ul li {
  list-style: none;
}

.footer-sec ul li a {
  text-decoration: none;
  color: #000;
}

.footer-sec ul li a:hover {
  text-decoration: underline;
  color: #000fff;
}

.deal-header {
  margin-bottom: 100px;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.registration-field {
  margin-top: 500px;
}

.registration-heading {
  margin-top: 150px;
}

.heading-mar {
  margin-top: 150px;
}
